body {
    font-family: "Poppins", serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
}
.nav_links a:visited {
    color: blue;
}

.card > header {
    background: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 450px;
}

.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery img{
    border: 10px solid #50C7C7;
    margin: 10px 10px 10px 10px;
    width: 300px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#logo {
    position: relative;
    animation-name: mymove;
    animation-duration: 5s;
    animation-timing-function: linear;
    margin: 0 auto;
}

@keyframes mymove {
    from  {width: 25px; opacity: 0;}
    to {width: 475px; opacity: 1;}
  }

/* screen-size is greater than 900px */
@media screen and (min-width: 900px) {
    /* requirement 12 */
    header, .nav_links {
        display: flex;
        flex-direction: row;
    }
    #logo {
        margin: 0;
    }
    header {
        justify-content: space-between;
    }
    .nav_links {
        justify-content: center;
    }
    nav {
        align-self: center;
    }

    /* requirement 13 */
    .card {
        flex-basis: 250px;
    }

    .pricing {
        flex-direction: row;
    }

    /* requirement 14 */
    body > header {
        position: sticky;
        top: 0;
        width: 100%;
    }
}

/* reduced motion preferred */
@media (prefers-reduced-motion) {
    #logo {
        animation: none;
    }
}

@media print {
    body {
        background-image: none;
        font-family:Arial, Helvetica, sans-serif;
    }
    .nav_links {
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-around;
        /* doesn't work */
    }
    nav {
        width:  100%;
    }

    /* 18 */
    .pricing{
        flex-direction: row;
        align-items: flex-end;
    }
    /* 19 */
    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }
    /* 20 */
    .gallery, #gallery {
        display: none;
    }
    /* 21 */
    /* .card > li:first-of-type:after {
        content: "\1F44D";
    } */
    .card li:nth-child(2):after {
        content: "\1F44D"; 
    }
}